# flyctl launch added from .gitignore
**/env
**/*.pyc
**/__pycache__
**/*.log
**/sites/*/site_config.json
**/sites/*/private
**/sites/assets

# flyctl launch added from apps/erpnext/.gitignore
apps/erpnext/**/*.pyc
apps/erpnext/**/*.py~
apps/erpnext/**/.DS_Store
apps/erpnext/**/conf.py
apps/erpnext/**/locale
apps/erpnext/**/latest_updates.json
apps/erpnext/**/.wnf-lang-status
apps/erpnext/**/*.egg-info
apps/erpnext/**/dist
apps/erpnext/**/erpnext/public/dist
apps/erpnext/**/erpnext/docs/current
apps/erpnext/**/*.swp
apps/erpnext/**/*.swo
apps/erpnext/**/__pycache__
apps/erpnext/**/*~
apps/erpnext/**/.idea
apps/erpnext/**/.vscode
apps/erpnext/**/node_modules
apps/erpnext/**/.backportrc.json

# flyctl launch added from apps/erpnext/erpnext/public/.gitignore
apps/erpnext/erpnext/public/**/node_modules

# flyctl launch added from apps/frappe/.gitignore
apps/frappe/**/*.pyc
apps/frappe/**/*.py~
apps/frappe/**/*.comp.js
apps/frappe/**/*.DS_Store
apps/frappe/**/.wnf-lang-status
apps/frappe/**/*.swp
apps/frappe/**/*.egg-info
apps/frappe/**/dist
# build/
apps/frappe/**/frappe/docs/current
apps/frappe/**/frappe/public/dist
apps/frappe/**/.vscode
apps/frappe/**/.vs
apps/frappe/**/node_modules
apps/frappe/**/.kdev4
apps/frappe/**/*.kdev4
apps/frappe/**/*debug.log

# Not Recommended, but will remove once webpack ready
apps/frappe/**/package-lock.json

# Byte-compiled / optimized / DLL files
apps/frappe/**/__pycache__
apps/frappe/**/*.py[cod]
apps/frappe/**/*$py.class

# C extensions
apps/frappe/**/*.so

# Distribution / packaging
apps/frappe/**/.Python
# build/
apps/frappe/**/develop-eggs
apps/frappe/**/dist
apps/frappe/**/downloads
apps/frappe/**/eggs
apps/frappe/**/.eggs
apps/frappe/**/lib64
apps/frappe/**/parts
apps/frappe/**/sdist
apps/frappe/**/var
apps/frappe/**/wheels
apps/frappe/**/*.egg-info
apps/frappe/**/.installed.cfg
apps/frappe/**/*.egg
apps/frappe/**/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
apps/frappe/**/*.manifest
apps/frappe/**/*.spec

# Installer logs
apps/frappe/**/pip-log.txt
apps/frappe/**/pip-delete-this-directory.txt

# Unit test / coverage reports
apps/frappe/**/htmlcov
apps/frappe/**/.tox
apps/frappe/**/.coverage
apps/frappe/**/.coverage.*
apps/frappe/**/.cache
apps/frappe/**/nosetests.xml
apps/frappe/**/coverage.xml
apps/frappe/**/*.cover
apps/frappe/**/.hypothesis
apps/frappe/**/.pytest_cache
apps/frappe/**/.cypress-coverage

# Translations
apps/frappe/**/*.mo

# Django stuff:
apps/frappe/**/*.log
apps/frappe/**/.static_storage
apps/frappe/**/.media
apps/frappe/**/local_settings.py

# Flask stuff:
apps/frappe/**/instance
apps/frappe/**/.webassets-cache

# Scrapy stuff:
apps/frappe/**/.scrapy

# Sphinx documentation
apps/frappe/**/docs/_build

# PyBuilder
apps/frappe/**/target

# Jupyter Notebook
apps/frappe/**/.ipynb_checkpoints

# pyenv
apps/frappe/**/.python-version

# celery beat schedule file
apps/frappe/**/celerybeat-schedule

# SageMath parsed files
apps/frappe/**/*.sage.py

# Environments
apps/frappe/**/.env
apps/frappe/**/.venv
apps/frappe/**/env
apps/frappe/**/venv
apps/frappe/**/ENV
apps/frappe/**/env.bak
apps/frappe/**/venv.bak

# Spyder project settings
apps/frappe/**/.spyderproject
apps/frappe/**/.spyproject

# Rope project settings
apps/frappe/**/.ropeproject

# mkdocs documentation
apps/frappe/site

# mypy
apps/frappe/**/.mypy_cache

# Logs
apps/frappe/**/logs
apps/frappe/**/*.log
apps/frappe/**/npm-debug.log*
apps/frappe/**/yarn-debug.log*
apps/frappe/**/yarn-error.log*

# Runtime data
apps/frappe/**/pids
apps/frappe/**/*.pid
apps/frappe/**/*.seed
apps/frappe/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
apps/frappe/**/lib-cov

# Coverage directory used by tools like istanbul
apps/frappe/**/coverage

# nyc test coverage
apps/frappe/**/.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
apps/frappe/**/.grunt

# Bower dependency directory (https://bower.io/)
apps/frappe/**/bower_components

# node-waf configuration
apps/frappe/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
apps/frappe/**/build/Release

# Dependency directories
apps/frappe/**/node_modules
apps/frappe/**/jspm_packages

# Typescript v1 declaration files
apps/frappe/**/typings

# Optional npm cache directory
apps/frappe/**/.npm
apps/frappe/**/.yarn

# Optional eslint cache
apps/frappe/**/.eslintcache

# Optional REPL history
apps/frappe/**/.node_repl_history

# Output of 'npm pack'
apps/frappe/**/*.tgz

# Yarn Integrity file
apps/frappe/**/.yarn-integrity

# dotenv environment variables file
apps/frappe/**/.env

# next.js build output
apps/frappe/**/.next

# cypress
apps/frappe/**/cypress/screenshots
apps/frappe/**/cypress/videos

# JetBrains IDEs
apps/frappe/**/.idea

# flyctl launch added from apps/frappe/node_modules/@editorjs/editorjs/example/tools/image/dev/.tmp/.gitignore
apps/frappe/node_modules/@editorjs/editorjs/example/tools/image/dev/.tmp/**/*
!apps/frappe/node_modules/@editorjs/editorjs/example/tools/image/dev/.tmp/**/.gitignore

# flyctl launch added from apps/frappe/node_modules/air-datepicker/.gitignore
apps/frappe/node_modules/air-datepicker/.idea
apps/frappe/node_modules/air-datepicker/**/node_modules
apps/frappe/node_modules/air-datepicker/**/bower_components
fly.toml
